{% extends "base.html" %}

{% block head %}    
{% endblock %}

{% block content %}
    <div class="sub-header">
    <h2>Contact us</h2>
    </div>
    {% if form.errors %}
        <p style="color:red;">
            Please correct the error {{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-primary btn-large" value="Submit">
    </form>
{% endblock %}

{% block below-content %}
    <p>
        We're always happy to get feedback on any issues you're finding with the site, whether you're a host
        or just a passer by. Please don't hesitate to give us a call if it's something we may be able to help
        you with over the phone.
    </p>
{% endblock %}
