{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/media/css/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/nivo-slider-default.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/media/scripts/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
        jQuery(window).load(function() {
            jQuery('#slider').nivoSlider({
                effect: 'fade', // Specify sets like: 'fold,fade,sliceDown'
                animSpeed: 500, // Slide transition speed
                pauseTime: 6000, // How long each slide will show
                startSlide: 0, // Set starting Slide (0 index)
                directionNav: true, // Next & Prev navigation
                directionNavHide: false, // Only show on hover
                controlNav: false, // 1,2,3... navigation
                controlNavThumbs: false, // Use thumbnails for Control Nav
                controlNavThumbsFromRel: false, // Use image rel for thumbs
                controlNavThumbsSearch: '.jpg', // Replace this with...
                controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
                keyboardNav: true, // Use left & right arrows
                pauseOnHover: true, // Stop animation while hovering
                manualAdvance: false, // Force manual transitions
                captionOpacity: 0.8, // Universal caption opacity
                prevText: 'Prev', // Prev directionNav text
                nextText: 'Next', // Next directionNav text
                randomStart: false // Start on a random slide
            })
        });
    </script>

    <script type="text/javascript">
        var geocoder;
        var map;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions = {
                zoom: 13,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: false,
                mapTypeControl: false,
                zoomControl: false,
                streetViewControl: false,
            }
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var address = document.getElementById("postcode").value;
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }

        function loadScript() {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyCzU_LoeAOdyrVx50NHGJEqOk1J8ZIPC8c&sensor=false&callback=initialize";
            document.body.appendChild(script);
        }
        window.onload = loadScript;
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span7">
            <div class="thumbnail" style="background-color: #ffffff;">

                <div class="slider-wrapper theme-default">

                    <div id="slider" class="nivoSlider">
                        <img src="/media/img/versatile-home-plan-angled-530x300.jpg" alt="" title="House from the drive-way"/>
                        <img src="/media/img/cool-beach-house-plans-4-530x300.jpg" alt="" title="It has a lovely back room area with a beautiful shag rug."/>
                        <img src="/media/img/home_IMGP3258_530x300.jpg" alt="" title="The kitchen and patio area, lovely for those long summer nights." />
                    </div>
                </div>
                <div class="caption">
                    <h3>{{ property.heading }}</h3>
                    <p>{{ property.short_desc }}</p>
                </div>
            </div>
            <br/>

            <div class="sub-header">
                <h2>A little more detail</h2>
            </div>
            <p style="text-align: justify; padding: 0 0px 0 5px;">{{ property.long_desc }}</p>
            <br/>
            <br/>
            <div class="sub-header">
                <h2>Reviews</h2>
            </div>
            <p>There are currently no reviews.</p>
        </div>
        <div class="span5">
            <div class="thumbnail" style="background-color: #ffffff;">
                <div id="map_canvas" style="width:368; height:250px"></div>
            </div>
            <br/>
            <table class="table table-bordered" style="width:100%">
                <tr>
                    <td><strong>Postcode</strong></td>
                    <td>{{ property.postcode }}</td>
                    <input type="hidden" id="postcode" value="{{ property.postcode }}">
                </tr>
                <tr>
                    <td><strong>Price</strong></td>
                    <td>£{{ property.price|floatformat:2 }} per person per night</td>
                </tr>
                <tr>
                    <td><strong>City</strong></td>
                    <td>{{ property.city }}</td>
                </tr>
            </table>

            <div class="sub-header">
                <h2>
                    Your request                   
                </h2>
            </div>
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Arriving on</strong></td>
                        <td>{{ arrival_date|date:"d/m/Y" }}</td>
                    </tr>
                    <tr>
                        <td><strong>Leaving on</strong></td>
                        <td>{{ dept_date|date:"d/m/Y" }}</td>
                    </tr>
                    <tr>
                        <td><strong>Nights requested</strong></td>
                        <td>{{ nights }}</td>
                    </tr>
                    <tr>
                        <td><strong>Booking cost (estimated)</strong></td>
                        <td>£ {{ booking_cost    }}</td>
                    </tr>
                </table>
            <div class="sub-header">
                <h2>Your host</h2>
            </div>
            <table class="table table-bordered">
                <tr>
                    <td><strong>Username</strong></td>
                    <td>{{ property.user.username }}</td>
                </tr>
                <tr>
                    <td><strong>Rating</strong></td>
                    <td>***** (5 out of 5)</td>
                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td>{{ property.user.email }}</td>
                </tr>
                <tr>
                    <td><strong>Contact Number</strong></td>
                    <td>{{ property.user.telephone }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}

{% block below-content %}
{% endblock %}
