{% extends "base.html" %}

{% block head %}
    <script type="text/javascript">
        $(function()
        {
            $('.date-picker').datepicker();
        });
    </script>
    <link rel="stylesheet" href="/media/css/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/nivo-slider-default.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/media/scripts/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
        jQuery(window).load(function() {
            jQuery('#slider').nivoSlider({
                effect: 'sliceDown', // Specify sets like: 'fold,fade,sliceDown'
                animSpeed: 500, // Slide transition speed
                pauseTime: 4000, // How long each slide will show
                startSlide: 0, // Set starting Slide (0 index)
                directionNav: true, // Next & Prev navigation
                directionNavHide: true, // Only show on hover
                controlNav: false, // 1,2,3... navigation
                controlNavThumbs: false, // Use thumbnails for Control Nav
                controlNavThumbsFromRel: false, // Use image rel for thumbs
                controlNavThumbsSearch: '.jpg', // Replace this with...
                controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
                keyboardNav: true, // Use left & right arrows
                pauseOnHover: true, // Stop animation while hovering
                manualAdvance: false, // Force manual transitions
                captionOpacity: 0.8, // Universal caption opacity
                prevText: 'Prev', // Prev directionNav text
                nextText: 'Next', // Next directionNav text
                randomStart: false // Start on a random slide
            })
        });
    </script>
    <style type="text/css">
    /* Override some defaults */
        .theme-default .nivoSlider {
            margin-bottom:0px;
    }
    </style>
{% endblock %}

{#{% block title %}#}
{#{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="well span4">
            {% if error %}
                <br/>
                <div class="alert-message danger">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <strong>You never entered any search terms or selected dates!</strong>
                </div>
            {% else %}
            {% endif %}

            <div style="float: none;text-align: left">
                <h2>Where are you going?</h2>
                <form action="/search/" method="get" class="form-search">
                    <input type="text" class="input-xlarge" name="search_terms">
                    <br />
                    <br />
                    <p>
                        Arriving on
                        <input style="padding: 5px; margin-left:15px;" type="text" class="input-small date-picker" name="arrival_date" value="02/02/2012"/>
                    </p>
                    <p>
                        Leaving on
                        <input style="padding: 5px; margin-left:15px;" type="text" class="input-small date-picker" name="dept_date" value="05/02/2012"/>
                        <input type="submit" class="btn btn-large btn-primary" style="float:right;" value="Search">
                    </p>

                </form>
            </div>
        </div>
        <div class="span7">
            <div class="thumbnail" style="background-color: #ffffff;">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        <img src="/media/img/edinburgh_castle.jpg" alt="" title="Go somewhere new and exciting for cheap!"/>
                        <img src="/media/img/530x200_oxford.jpg" alt="" title="So many places to choose from, so little time."/>
                        <img src="/media/img/530x200_weight%20loss%20older%20woman.jpg" alt="" title="Hosts in so many different places just waiting to cook you dinner!"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block below-content %}

<div style="text-align: center">
<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail" style="background-color: #ffffff;">
            <div style="text-align: center">
                <h5>Why not stay somewhere amazing?</h5>
            </div>
            <img src="/media/img/Figure1_House_sm_288x180.jpg" alt="">
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail" style="background-color: #ffffff;">
            <div style="text-align: center">
                <h5>Hosts Haven</h5>
            </div>
            <img src="/media/img/thanksgiving_288x180.jpg" alt="">
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail" style="background-color: #ffffff;">
            <div style="text-align: center">
                <h5>Become a host</h5>
            </div>
            <img src="/media/img/Mapperton_House-288x180.JPG" alt="">
        </div>
    </li>
</ul>
</div>
{% endblock %}