{% extends "base.html" %}

{% block head %}
    <script type="text/javascript">
        $(function()
        {
            $('.date-picker').datepicker();
        });
    </script>

{% endblock %}

{% block title %}
    <h1>Welcome</h1>
{% endblock %}

{% block content %}
    <br />
    <br />
    <div style="float: none;text-align: center">
        <h2>Where are you going?</h2>
        <form action="/search/" method="get" class="form-search">
            <input type="text" class="input-xlarge search-query" name="search_terms">
            <input type="submit" class="btn" value="Search">
            <br />
            <br />
            <p>
                Arriving
                <input style="padding: 5px; margin-right:15px;" type="text" class="input-small date-picker" name="arrival_date" />
                Leaving
                <input style="padding: 5px; margin-left:5px;" type="text" class="input-small date-picker" name="dept_date" />
            </p>
        </form>
        {% if error %}
            <br/>
            <div class="alert-message danger">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong>You never entered any search terms or selected dates!</strong>
            </div>
        {% endif %}
    </div>
{% endblock %}
