{% extends "base.html" %}

{% block head %}
    <script type="text/javascript">
        $(function()
        {
            $('.date-picker').datepicker();
        });
    </script>

{% endblock %}

{#{% block title %}#}
{#{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="well span4">
            {% if error %}
                <br/>
                <div class="alert-message danger">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <strong>You never entered any search terms or selected dates!</strong>
                </div>
            {% else %}
            {% endif %}

            <div style="float: none;text-align: left">
                <h2>Where are you going?</h2>
                <form action="/search/" method="get" class="form-search">
                    <input type="text" class="input-xlarge" name="search_terms">
                    <br />
                    <br />
                    <p>
                        Arriving on
                        <input style="padding: 5px; margin-left:15px;" type="text" class="input-small date-picker" name="arrival_date" value="02/02/2012"/>
                    </p>
                    <p>
                        Leaving on
                        <input style="padding: 5px; margin-left:15px;" type="text" class="input-small date-picker" name="dept_date" value="05/02/2012"/>
                        <input type="submit" class="btn btn-large" style="float:right;" value="Search">
                    </p>

                </form>
            </div>
        </div>
        <div class="span7">
            <h1>Welcome to Bed & Fed</h1>
            <p align="justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p align="justify">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.    </p>
            <p align="justify">So get searching!</p>
        </div>
    </div>
{% endblock %}


{% block below-content %}

<div style="text-align: center">
<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail" style="background-color: #ffffff;">
            <div style="text-align: center">
                <h5>Information Item 1</h5>
            </div>
            <img src="http://placehold.it/288x180" alt="">
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail" style="background-color: #ffffff;">
            <div style="text-align: center">
                <h5>Advert One</h5>
            </div>
            <img src="http://placehold.it/288x180" alt="">
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail" style="background-color: #ffffff;">
            <div style="text-align: center">
                <h5>Information Item Two</h5>
            </div>
            <img src="http://placehold.it/288x180" alt="">
        </div>
    </li>
</ul>
</div>
{% endblock %}