{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzU_LoeAOdyrVx50NHGJEqOk1J8ZIPC8c&sensor=false">
    </script>
{#    <script type="text/javascript">#}
{#        function initialize() {#}
{#            var myOptions = {#}
{#                center: new google.maps.LatLng(-34.397, 150.644),#}
{#                zoom: 8,#}
{#                mapTypeId: google.maps.MapTypeId.ROADMAP#}
{#            };#}
{#            var map = new google.maps.Map(document.getElementById("map_canvas"),#}
{#                    myOptions);#}
{#            for (var i = 0; i < 10; i++) {#}
{#                var latlng = new GLatLng(southWest.lat() + latSpan * Math.random(),#}
{#                        southWest.lng() + lngSpan * Math.random());#}
{#                map.addOverlay(new GMarker(latlng));#}
{#            }#}
{#        }#}
{#    </script>#}
{#    <script>#}
{#        var localSearch;#}
{#        var map;#}
{#        var icon;#}
{#        var addressMarkerOptions;#}
{#        google.load("search", "1");#}
{#        google.load("maps", "2");#}
{#        google.setOnLoadCallback(initialize);#}
{##}
{#        function initialize()#}
{#        {#}
{#            localSearch = new GlocalSearch();#}
{#            icon = new GIcon(G_DEFAULT_ICON);#}
{#            addressMarkerOptions = { icon:icon , draggable: false};#}
{#            map = new GMap2(document.getElementById("map"));#}
{#            map.addControl(new GLargeMapControl());#}
{#            map.addControl(new GMapTypeControl());#}
{#            plotAddress("OX4 1FJ");#}
{#        }#}
{##}
{#        /**#}
{#         * This takes either a postcode or an address string#}
{#         *#}
{#         */#}
{#        function plotAddress(address)#}
{#        {#}
{#            localSearch.setSearchCompleteCallback(null,#}
{#                    function() {#}
{##}
{#                        if (localSearch.results[0])#}
{#                        {#}
{#                            var resultLat = localSearch.results[0].lat;#}
{#                            var resultLng = localSearch.results[0].lng;#}
{#                            var point = new GLatLng(resultLat,resultLng);#}
{#                            var marker = new GMarker(point, addressMarkerOptions);#}
{#                            map.addOverlay(marker);#}
{#                            map.setCenter(point, 5, G_NORMAL_MAP);#}
{#                        }#}
{#                        else#}
{#                        {#}
{#                            alert('address not found');#}
{#                        }#}
{#                    });#}
{##}
{#            localSearch.execute(address + ", UK");#}
{#        }#}
{#    </script>#}
{% endblock %}

{% block title %}
	<h1>Search <small>hopefully we have something you're looking for</small></h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span10">
            <h2>Search results</h2>
            {% if propertylist %}
                {% for property in propertylist %}
                    <div class="search_result_pane">
                        <h2 style="text-align: left">{{ property.heading }}
                            <small style="text-align: right">{{ property.city }}</small>
                        </h2>
                        {{ property.user.username }}
                        <p>
                        {{ property.long_desc }}
                        </p>
                        <div id="map" style="width:150px; height:150px"></div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="span4">
            <h3>Sidebar</h3>
        </div>
    </div>
{% endblock %}
